<%-include('partials/header') %>
</head>
<body class="vh-100">
    <%-include('partials/navbar') %>

            <div class="row">
                <div class="col">
                    <h1 class="text-center">Nueva Publicación</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mx-auto">
                    <form action="#" id="form-guardar">
                        <div class="mb-3">
                            <input type="text" id="titulo" placeholder="Título de la publicación" class="form-control">
                        </div>
                       
                        <div class="form-floating mb-3">
                            <textarea  id="detalle" class="form-control" placeholder="Agregue su comentario"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Detalle</label>
                        </div>

                        <div class="mb-3">
                            <input type="text" id="url_imagen" placeholder="Dirección de la imagen" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <input type="date" id="fecha_publicacion" class="form-control">
                        </div>

                        <div class="mb-3">
                            <input type="text" id="nombre_autor" placeholder="Nombre del Autor" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                        <a href="/" class="btn btn-danger">Cancelar</a>
                    </form>
                </div>
            </div>

    <script src="/js/admin.js" type="module"></script>

    <%-include("partials/footer") %>