<%-include("partials/header") %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body class="vh-100">

    <%-include("partials/navbar") %>

    <div class="row">
        <div class="col">
            <h1 class="text-center">Editar Publicación</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="#" id="form-nuevo">
                <div class="mb-3">
                    <h4>Título</h4>
                    <input type="text" id="titulo" class="form-control">
                </div>
               
                <div class="form-floating mb-3">
                    <h4>Detalle</h4>
                    <textarea  id="detalle" class="form-control" style="height: 100px"></textarea>
                </div>

                <div class="mb-3">
                    <h4>Url Imagen</h4>
                    <input type="text" id="url_imagen" class="form-control">
                </div>
                <div class="mb-3">
                    <h4>Fecha Publicación</h4>
                    <input type="date" id="fecha_publicacion" class="form-control">
                </div>

                <h4>No pude terminar la editar</h4>

                <button type="submit" class="btn btn-sm btn-primary">
                    Enviar
                </button>
            </form>
        </div>
    </div>


    <script src="/js/edit.js" type="module"></script>

    <%-include("partials/footer") %>