<%-include("partials/header") %>
<link rel="stylesheet" href="/css/admin.css">


    <%-include("partials/navbar") %>

    <div class="container mt-5">
        <div class="col-md-6 mx-auto border rounded p-2">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Editar Publicación</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" id="form-editar" data-id="<%= id  %>">
                        <div class="mb-3">
                            <input type="text" id="titulo" class="form-control" placeholder="Título de la publicación">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea  id="detalle" class="form-control" style="height: 100px" placeholder="Detalle de la publicación"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="url_imagen" class="form-control" placeholder="Url de la url_imagen">
                        </div>
                        <div class="mb-3">
                            <input type="date" id="fecha_publicacion" class="form-control" placeholder="Fecha de publicación">
                        </div>
                        <div class="mb-3">
                            <input type="text" id="nombre_autor" class="form-control" placeholder="Nombre del Autor">
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary">
                            Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/editar.js" type="module"></script>

    <%-include("partials/footer") %>