<%-include("partials/header")  %>
</head>
<body>
    
<%-include("partials/navbar")  %>


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Lista de Publicaciones</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped text-center py-4" id="lista-publicaciones">

            </table>
        </div>
    </div>
    
</div>

<script src="/js/home.js" type="module"></script>

<%-include("partials/footer")  %>